* {
    margin: 0px;
    padding: 0px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .toggleheader .logo {
    flex: 0.5;
    font-size: 50px;
    margin-left: 30px;
    color: white;
  }
  
  .toggleheader {
    width: 100%;
    height: 150px;
    background-color: #6a5f75;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .toggleheader .navbar {
    width: 100%;
  }
  
  .toggleheader .navbar .nav {
    width: 100%;
    flex: 2;
    margin-left: 100px;
  }
  .toggleheader .navbar .nav ul {
    display: flex;
    justify-content: space-evenly;
  }
  .toggleheader .navbar .nav ul li {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
  }
  .toggleheader .navbar .nav ul li:hover {
    border: 2px solid rgb(49, 48, 48);
    border-radius: 0px 30px 0px 30px;
    box-shadow: 10px 10px 1px 1px rgba(20, 20, 20, 0.267);
  }
  .toggleheader .navbar .nav ul li a {
    color: white;
    padding: 13px;
  }
  
  .toggleheader .icon span {
    align-items: end;
  }
  
  .toggleheader .icon {
    display: none;
  }
  .toggleheader .icon .tbtn {
    height: 20px;
    width: 30px;
    height: 45px;
    width: 45px;
    font-size: 30px;
    border-radius: 5px;
    border: 1px solid black;
  }
  /* ============= BG-IMG======================*/
  .bg-img {
    height: 800px;
    width: 100%;
    background-color: aqua;
  }
  .bg-img img {
    height: 800px;
    width: 100%;
    filter: brightness(150%);
  }
  /* ==================================================== */
  @media (max-width: 576px) {
    .toggleheader {
      height: 100px;
    }
    .toggleheader .icon {
      display: block;
    }
    .toggleheader .icon .tbtn {
      margin-right: 30px;
    }
  
    .toggleheader .navbar {
      width: 70%;
      position: relative;
      top: 50px;
    }
    .toggleheader .navbar .nav ul li {
      margin-top: 5px;
      font-size: 15px;
    }
  
    .toggleheader .navbar .nav {
      display: none;
      position: absolute;
    }
  
    .toggleheader .logo {
      flex: 2;
    }
    .toggleheader .navbar .nav-menu {
      display: block;
      margin: auto;
    }
  }
  /* ==============nav-menu for toggle in javascript========= */
  .toggleheader .navbar .nav-menu {
    width: 100%;
    flex: 2;
  }
  .toggleheader .navbar .nav-menu ul {
    display: flex;
    flex-direction: column;
    background-color: rgb(153, 147, 165);
    justify-content: space-evenly;
    margin: 0px 50px 0px 0px;
  }
  .toggleheader .navbar .nav-menu ul li {
    font-size: 20px;
    width: 96%;
  }
  
  .toggleheader .navbar .nav-menu ul li a {
    color: black;
  }
  